# .env.example
GEMINI_API_KEY=
IBM_QUANTUM_TOKEN=
IBMQ_TOKEN= # Get this from https://quantum-computing.ibm.com/
OPENWEATHER_API_KEY= # Get this from https://openweathermap.org/api
MARKET_API_KEY= # Get this from https://www.alphavantage.co/
